In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
df['PRIM_STATE'] = ['CA','CA','CA','CA','CA','CA']

In [6]:
df['AREA'] = ['31080','31080','31080','31080','31080','31080']

In [11]:
df['OCC_CODE']=['00-0000','11-0000','11-1011','11-1021','11-1031','11-2011']
df['OCC_TITLE']=['All Occ','Management Occ','Chief Ex','General and Ops Mgr','Lesig','Adv & Prom Mgr']
df['OCC_GROUP']=['total','major','detailed','detailed','detailed','detailed']
df['H_MEAN']=[26.75,61.80,110.04,66.78,'*',57.35]

In [12]:
df

  PRIM_STATE   AREA OCC_CODE            OCC_TITLE OCC_GROUP  H_MEAN
0         CA  31080  00-0000              All Occ     total   26.75
1         CA  31080  11-0000       Management Occ     major    61.8
2         CA  31080  11-1011             Chief Ex  detailed  110.04
3         CA  31080  11-1021  General and Ops Mgr  detailed   66.78
4         CA  31080  11-1031                Lesig  detailed       *
5         CA  31080  11-2011       Adv & Prom Mgr  detailed   57.35

In [38]:
major = df[df['OCC_GROUP']=='major']['H_MEAN'].mean()
major

61.799999999999997

In [24]:
#major.apply(lambda x:x['OCC_GROUP']=='major')

In [21]:
def sample_func():
    # Lets return a tuple of SFO weather
    return ('SFO',70,'Clear')

a = sample_func()
print(type(a))
print(a[0],a[1],a[2])

<class 'tuple'>
SFO 70 Clear